{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% load static %}

{% block article %}

      <div class="top_title">
                    <h3>{{ title }}</h3>
      </div>

{% endblock %}

{% block content %}
 {% for brand in object_list %}
          <a class="car_a" href="{{ brand.get_absolute_url }}">
              <div class="car_box">
                  <img src="{{ brand.logo.url }}" alt="">
                  <h4>{{ brand.brand }}</h4>
              </div>
          </a>
    {% endfor %}
{% endblock %}

    {% block page %}
    {% include 'include/pagination.html' %}
    {% endblock %}