{% extends 'base.html' %}
{% block title %}
{{ car.brand }} {{ car.model }} {{ car.year }}
{% endblock %}
{% block content %}


      <div class="brand_model">
          <h3>{{ car.brand }} {{ car.model }} {{ car.year }}</h3>
      </div>

      <div class="box_car">
          <img src="{{ car.photo.url }}" alt="">
      </div>

      <div class="brand_model">
          <div class="car_mini_block" style="background-color:green">
            <h4>{{ car.level }}</h4>
          </div>
          <div class="car_mini_block" style="background-color:grey">
            <h4>{{car.type_drive}}</h4>
          </div>
          <div class="car_mini_block" style="background-color:gold">
            <h4>{{car.rarity}}</h4>
          </div>
          <div class="car_mini_block" style="background-color:green">
            <h4>{{car.price}}</h4>
          </div>
      </div>

      <div class="box_table">

        <div class="table">
          <h3>Производительность</h3>
          <table>
            <tr>
              <td>Скорость</td><td>{{car.speed}}</td>
            </tr>
            <tr>
              <td>Управляемость</td><td>{{car.control}}</td>
            </tr>
            <tr>
              <td>Ускорение</td><td>{{car.acceleration}}</td>
            </tr>
            <tr>
              <td>Разгон</td><td>{{car.start}}</td>
            </tr>
            <tr>
              <td>Торможение</td><td>{{car.brake}}</td>
            </tr>
          </table>
        </div>

          <div class="table">
            <table>
              <tr>
                <td>Мощность кВт</td><td>{{car.kW}}</td>
              </tr>
              <tr>
                <td>Мощность Л.с.</td><td>{{car.Hp}}</td>
              </tr>
              <tr>
                <td>Крутящий момент</td><td>{{car.Hm}} n*m</td>
              </tr>
              <tr>
                <td>Вес</td><td>{{car.weight}} Кг</td>
              </tr>
              <tr>
                <td>Мощность / Масса </td><td> НЕТ / 1 кг</td>
              </tr>
              <tr>
                <td>Фронтальная нагрузка</td><td>{{car.center}}</td>
              </tr>
              <tr>
                <td>Объем двигателя</td><td>{{ car.volume }} см³</td>
              </tr>
            </table>
          </div>

          <div class="table">
            <table>
              <tr>
                <td>Скорость</td><td>{{car.top_speed}} км/ч</td>
              </tr>
              <tr>
                <td>Ускорение 0-97км/ч</td><td>{{car.start097}}</td>
              </tr>
              <tr>
                <td>Ускорение 0-161км/ч</td><td>{{car.start161}}</td>
              </tr>
            </table>
          </div>

          <div class="table">
            <table>
              <tr>
                <th>Tорможение</th>
              </tr>
              <tr>
                <td>Торможение 97-0 км/ч</td><td>{{car.brake097}}</td>
              </tr>
              <tr>
                <td>Торможение 161-0 км/ч</td><td>{{car.brake161}}</td>
              </tr>
              <tr>
                <th>Боковые нагрузки</th>
              </tr>
              <tr>
                <td>97 км/ч</td><td>{{car.load97}}г</td>
              </tr>
              <tr>
                <td>193 км/ч</td><td>{{car.load193}}г</td>
              </tr>
            </table>
          </div>

      </div>

{% endblock %}