{% extends 'base.html' %}
{% block title %}
{{ title }}
{% endblock %}
{% block content %}

<div class="top_title">
<h3>Добавить автомобиль</h3>
</div>

<form class='register' action="{% url 'newcar' %}"  method="post" enctype="multipart/form-data">
{% csrf_token %}
{{ form.non_field_errors }}
<div class="car_form">
{{ form.brand }}
{{ form.model }}
{{ form.year }}
{{ form.slug }}

{{ form.level }}
{{ form.rarity }}
{{ form.country }}
{{ form.price }}
</div>

<div class="car_form">
{{ form.speed }}
{{ form.control }}
{{ form.acceleration }}
{{ form.start }}
{{ form.brake }}
{{ form.type_class }}
{{ form.type_engine }}
{{ form.type_drive }}
</div>

<div class="car_form">
{{ form.kW }}
{{ form.Hp }}
{{ form.Hm }}
{{ form.weight }}
{{ form.center }}
{{ form.volume }}
</div>

<div class="car_form">
{{ form.top_speed }}
{{ form.start097 }}
{{ form.start161 }}
{{ form.brake097 }}
{{ form.brake161 }}
{{ form.load97 }}
{{ form.load193 }}
</div>

<div class="page_box">
{{ form.photo }}
</div>

<div class="page_box">
<input type="submit" name="submit" value="Добавить">
</div>
</form>

{% endblock %}