* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

body {
  margin: 0px;
  padding: 0px;
  background-image: url('../img/wallpaper.jpg');
  opacity: 0.9;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
}

.head {
  min-height: 100px;
  position: sticky;
  top: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.8);
  border-bottom: 2px solid DarkGray;
}

.in_head {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
  min-height: 50px;
}

.in_head a {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
  font-size: 18px;
}

.in_head a:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.1);
}

.box_img_logo img {
  height: 100px;
}


/* PAGE */
.page {
  min-height: 100vh;
}

.in_page {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}


/* BLOCK ARTICLE */
.top_title {
    display: flex;
    flex: nowrap;
    justify-content: space-around;
    align-items: center;
    text-decoration: none;
    text-transform: uppercase;
    color: rgba(169, 169, 169, 1);
    transition: all .9s ease;
    width: 100%;
    text-align: center;
    width: 100%;
    height: 50px;
    background-color: rgba(0, 0, 0, 0.9);
    margin: 25px auto;
    border-bottom: 2px solid DarkGray;
    border-top: 2px solid DarkGray;
}

.top_title a {
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
}

.top_title a:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.1);
  transition: all .9s ease;
}


/* INDEX */
.in_section {
  text-decoration: none;
}

.in_section section {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  filter: opacity(0.7);
  height: 150px;
  margin: 20px auto;
  width: 100%;
  overflow: hidden;
  border: 2px solid DarkGray;
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 0.8);
  transition: all .9s ease;
  font-size: 14px;
}

.in_section section:hover {
  color: rgba(255,255,255,0.8);
  box-shadow: 0px 0px 5px 5px rgba(169, 169, 169, 0.8);
  filter: opacity(1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transition: all 0.5 ease;
}

.in_section_div {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: center;
  height: 40px;
  width: 60%;
  background-image: url('../img/wallpaper.jpg');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  background-attachment: fixed;
  position: absolute;
  border-radius: 10px;
  border: 2px solid DarkGray;
}

/* FOOTER */
.footer {
  background-color: rgba(0, 0, 0, 0.7);
  border-top: 2px solid DarkGray;
}

.in_footer {
  min-height: 100px;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.box_footer {
  height: 200px;
  width: 150px;
  margin: 20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.in_box_footer {
  height: 150px;
  width: 150px;
}

.in_box_footer a {
  height: 150px;
  width: 150px;
  border-radius: 25%;
  position: absolute;
}

.in_box_footer img {
  height: 150px;
  width: 150px;
  border-radius: 25%;
}

.text_box_footer p {
  height: 50px;
  width: 150px;
}

.box_footer:hover {
  color: rgba(169, 169, 169, 1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transition: all .9s ease;
  transform: scale(1.05);
}

.box_footer:active {
  color: rgba(255, 255, 255, 1);
  transition: all .9s ease;
}

.in_in_footer {
  border-top: 2px solid DarkGray;
  width: 100%;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
  height: 150px;
  text-align: center;
}

/* NEWS */
.box_news_img {
  height: 200px;
  width: 500px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  border-radius: 20px;
  border: 2px solid DarkGray;
}

.box_news {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  filter: opacity(0.8);
  text-transform: uppercase;
  color: rgba(169, 169, 169, 0.8);
  transition: all .9s ease;
  text-decoration: none;
  margin: 20px auto;
}

.box_news:hover {
  filter: opacity(1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  color: rgba(255,255,255,1);
  transform: scale(1.05);
}

.box_news_text {
  height: 200px;
  width: 500px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 2px solid DarkGray;
}

.box_news_text_title {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}

.box_news_text_content {
  height: 100px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  overflow: hidden;
  font-size: 12px;
}

.box_news_text_data_category {
  height: 50px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 14px;
}


/* AUTO */

/* MODEL */
.car_box {
    height: 150px;
    width: 260px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 20px;
    border: 2px solid DarkGray;
    filter: opacity(0.8);
    text-transform: uppercase;
    color: rgba(169, 169, 169, 0.8);
    transition: all .9s ease;
    margin: 5px 5px;
    overflow: hidden;
    position: relative;
      display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
}

.car_box img {
  height: 50%;
}

.car_box h3 {
    position: absolute;
    top: 5px;
    left: 20px;
    border-bottom: 2px solid DarkGray;
}

.car_box h4 {
    position: absolute;
    bottom: 0px;
    right: 20px;
    border-top: 2px solid DarkGray;
}

.car_box:hover {
  filter: opacity(1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  color: rgba(255,255,255,1);
  transform: scale(1.02);
}


/* CAR */
.box_car {
  width: 100%;
  overflow: hidden;
  color:white;
}

.box_car img {
  width: 100%;
}
.options_car {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 20px;
}

.box_table {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  color: white;
}

.table {
    height: 180px;
    width: 260px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 20px;
  border: 2px solid DarkGray;
}

.table td {
   padding-right: 10px;
}

.car_mini_block {
    height: 40px;
    width: 120px;
    position: relative;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
}

.car_mini_block H4 {
    position: absolute;
    font-size: 18px;
}

.brand_model {
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
}


/* REGISTER */

.register {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

.register ul, .register li {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
  font-size: 14px;
  list-style-type: none;
}

.register ul:hover, .register li:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 1px 1px, grey 1px 1px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.05);
}

.register input {
    width: 500px;
    height: 30px;
    margin: 20px 50px;
    border-radius: 5px;
    border: 2px solid DarkGray;
}

.register input:hover {
  box-shadow: 0px 0px 5px 5px rgba(169, 169, 169, 0.5);
  filter: opacity(1);
  transition: all 0.5 ease;
}



/* MAP */

.block_map img {
    width: 100%;
    border-radius: 10px;
    border: 2px solid DarkGray;
}


/* NEWS DETAIL */

.news_detail_img {
    max-height: 600px;
    width: 100%;
    border: 2px solid DarkGray;
    overflow: hidden;
    display: flex;
    flex-wrap: nowrap;
    justify-content: space-around;
    align-items: center;
    border-radius: 20px;
}

.news_detail_img img {
  width: 100%;
}

.news_detail_content {
  border-radius: 20px;
  min-height: 300px;
  width: 100%;
  border: 2px solid DarkGray;
  background-color: rgba(0, 0, 0, 0.9);
  color: rgba(169, 169, 169, 1);
  position: relative;
  margin-bottom: 25px;
}


.news_detail_content h1 {
    top: 10px;
    left: 30px;
    border-bottom: 2px solid DarkGray;
    position: absolute;
}

.news_detail_content h4 {
    bottom: 10px;
    right: 30px;
    border-bottom: 2px solid DarkGray;
    position: absolute;
}

.news_detail_content p {
    padding: 100px 30px;
    text-align: justify;
}


/* NEWS CREATE */

.news_add {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    text-align: center;
}

.news_add h3 {
    width:100%;
}

.news_add p {
    width: 100%;
}
.news_add select {
    width: 500px;
}

.news_add input {
    width: 500px;
    height: 30px;
    border-radius: 5px;
    border: 2px solid DarkGray;
    font-size: 16px;
}

.news_add input:hover {
  box-shadow: 0px 0px 5px 5px rgba(169, 169, 169, 0.5);
  filter: opacity(1);
  transition: all 0.5 ease;
}

.news_add textarea {
    width: 500px;
    min-height: 200px;
    border: 2px solid DarkGray;
    font-size: 16px;
}

.news_add textarea:hover {
  box-shadow: 0px 0px 5px 5px rgba(169, 169, 169, 0.5);
  filter: opacity(1);
  transition: all 0.5 ease;
}

/*car add*/
.car_form {
  height: 450px;
  width: 250px;
  margin: 2px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  font-size: 16px;
  text-align: left;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 20px;
  border: 2px solid DarkGray;
}

.car_form input {
 margin: 5px 10px;
 font-size: 14px;
}

/*PAGINATIR*/
.page_box {
    width: 100%;
    height: 50px;
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-around;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.8);
    bottom: 20px;
    margin: 25px auto;
    border-top: 2px solid DarkGray;
    border-bottom: 2px solid DarkGray;
}

.in_page_box {
    width: 50%;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    font-size: 18px;
}

.page-num {
  text-decoration: none;
  text-transform: uppercase;
  color: rgba(169, 169, 169, 1);
  transition: all .9s ease;
  list-style-type: none;
  font-size: 30px;
}

.page-num:hover {
  color: rgba(255,255,255,1);
  text-shadow: grey 2px 2px, grey 2px 2px, grey -1px -1px, grey -1px -1px;
  transform: scale(1.2);
}

.page-num a {
    text-decoration: none;
    color: rgba(169, 169, 169, 1);
    border-radius: 25%;
}




